<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">



    <!--
xmlns="http://www.springframework.org/schema/beans": Declares the default namespace for Spring beans.
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance": Declares the XML Schema instance namespace.
xmlns:context="http://www.springframework.org/schema/context": Declares the namespace for Spring context configuration.
xsi:schemaLocation="...": Specifies the locations of the XML schemas for the declared namespaces.

-->



    <!-- Enable component scanning -->
    <context:component-scan base-package="dk.sdu.cbs.springlifecycle.example" />

    <!-- Define a lifecycle-aware bean -->
    <bean id="lifecycleBean" class="dk.sdu.cbs.springlifecycle.example.LifecycleBean" />

</beans>
