<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define a simple bean with a property -->
    <bean id="helloWorldBean" class="dk.sdu.cbs.example.HelloWorld" >
        <property name="message" value="Spring XML Configuration says Hi :)" />
    </bean>

<!--    &lt;!&ndash; Define a simple bean with a property &ndash;&gt;-->
<!--    <bean id="helloWorldBeanWithScopeandInitDestroy" class="dk.sdu.cbs.example.HelloWorld"  init-method="initMethod" destroy-method="destroy" >-->
<!--        <property name="message" value="Spring XML Configuration say hello" />-->
<!--    </bean>-->

</beans>
